<meta http-equiv="refresh" content="10" >
<h1>Current Help Requests</h1>

<%- @tickets.each do |ticket| %>
	<% if ticket.status != nil && ticket.status == true %>
		<div class = "helped">
	<% else %> 
		<div class = "ticket">
	<%end %>
		<h1>
			<%= ticket.user.first_name %> <%= ticket.user.last_name %>
		</h1><br/>
		<h2>
			<%= ticket.description %>
		</h2>
	</div>
<% end %> 