<h1>Current Help Requests</h1>

<%- @tickets.each do |ticket| %>
	<div class = 'ticket'>
		<h1>
			<%= ticket.user.first_name %> <%= ticket.user.last_name %>
		</h1><br/>
		<h2>
			<%= ticket.description %>
		</h2>
	</div>
<% end %> 