/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */


.centered {
 	float: none;
 	margin-top: 50px;
 	position: relative;
 }

.ticket {
	margin: 40px;
	padding: 10px;
	background-color: #18AFBA;
	display: block;
	border-radius: 20px;
	text-align: center;
}

.ticket > h1 {
	font-size: 4em;
	color: #222;
}

.ticket > h2 {
	color: #333;
}